{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}
    Récapitulatif voyage
{% endblock %}

{% block body %}
    <h1>Récapitulatif des voyages</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Destination</th>
                <th>Description</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for voyage in voyages %}
                <tr>
                    <td>{{ voyage.Titre }}</td>
                    <td>{{ voyage.destination.ville }} / {{ voyage.destination.pays.nom }}</td>
                    <td>{{ voyage.Description }}</td>
                    <td>{{ voyage.Date ? voyage.Date|date('d-m-Y') : '' }}</td>
                    <td>
                        <a class="btn btn-primary" href="{{ path('admin_voyage_show', {'id': voyage.id}) }}">Voir</a>
                        <a class="btn btn-primary" href="{{ path('admin_voyage_edit', {'id': voyage.id}) }}">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">Pas de voyage trouvé</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-info" href="{{ path('admin_voyage_new') }}">Créer un nouveau voyage</a>
{% endblock %}
