{% extends 'base.html.twig' %}

{% block title %}
    {{ parent()}}
    Récapitulatif destinations
{% endblock %}

{% block body %}
    <div class="container pt-3">
        <h1>Récapitulatif des destinations</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Ville</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for destination in destinations %}
                    <tr>
                        <td>{{ destination.Ville }}</td>
                        <td>
                            <a class="btn btn-primary" href="{{ path('admin_destination_show', {'id': destination.id}) }}">Voir</a>
                            <a class="btn btn-primary" href="{{ path('admin_destination_edit', {'id': destination.id}) }}">Modifier</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">Pas de destination trouvée</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <a class="btn btn-info" href="{{ path('admin_destination_new') }}">Créer une nouvelle destination</a>
    </div>
{% endblock %}
